.hero {
    background: url("/assets/novena/images/bg/slider-bg-1.jpg");    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
