/*.map-container {
    height: 400px; /* Adjust as needed
    position: relative;
    overflow: hidden;
}

app-map {
    width: 100%;
    height: 100%;
    display: block; /* Ensures the map is fully contained
}*/
.map-container {
    width: 100%;
    height: 400px;
}

#map {
    width: 100%;
    height: 100%;
}
